h2 {
  color: var(--light-theme-title-color);
  font-weight: bold;
  font-size: 18px;
}
.nowPlaying {
  display: flex;
  //max-width: 800px;
  &Card {
    display: flex;
    margin-right: 10px;
    position: relative;
    width: 380px;
    height: 250px;
    img {
      
    }
    a {
      position: absolute;
      bottom: 10px;
      left: 24px;
      button {
        color: white;
        background-color: var(--button-bg);
        padding: 1em 2em;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  &Watchlist{
    position: absolute;
    left: 10px;
    top:10px;
  }
}
