.rating{
    display:flex;
    position:absolute;
    bottom:0;
    flex-direction: row;
    &Star{
        width: 20px;
        margin-right: 5px;
    }
    
}

@media screen and (max-width: 1220px) {
   
    .ratingStar{
        width:10px;
    }
    
}

@media screen and (max-width: 769px) {
   
    .ratingStar{
        width:25px;
    }
    
}