.genres{
    display:flex;
    flex-wrap: wrap;
    margin: 1em;
  }
  
.tag{
    padding: 2px 10px;
    background-color: var(--main-color);
    color:white;
    margin:3px;
    border-radius: 15px;
    font-size: 1rem;
    transition: opacity 0.3s ease;
    &:hover{
        cursor: pointer;
        opacity: 0.7;
    }
}
  
.active{
    background-color: var(--button-bg);
    display: flex;
    align-items: center;
    justify-content: space-around;
    span{
        background-color: white;
        opacity: 0.7;
        padding: 0px 5px;
        color:black;
        font-size: 12px;
        border-radius: 15px;
        margin-left: 5px;
    }
}
  